.dashboard-table td:nth-child(even){
  text-align: left;
  padding-right: 20px;
}
.dashboard-table tr{
  height: 30px;
  vertical-align: middle;
}
.course-table{
  width: 80%;
  margin: auto;
  /*background-color: pink;*/
}
.course-table th{
  color: gray;
  font-weight: 200;
}
.course-table tr{
  height: 30px;
}

.todetail{
  float: right;
  display: inline-block;

}
.info-btn{
  float: right;
  display: inline-block;
  background-color: #8BD2CF;
  color: white;
}
